<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="dashboard/fragments/head.html :: head(title='Add promotion')">
</head>

<body>
<nav th:replace="dashboard/fragments/nav-bar.html :: nav-bar(page = 'product')"></nav>
<div class="container-fluid">
    <nav
            th:replace="dashboard/fragments/side-bar.html :: side-bar(current = 'product')"
    ></nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
        <form
              method="post"
              class="col-md-6"
              th:object="${promotionDetail}"
        >
            <div class="form-group">
                <div class="form-group">
                    <label for="category">Khuyến mãi</label>
                    <select
                            th:field="*{id}"
                            class="custom-select"
                            id="category"
                    >
                        <option th:each="promotion : ${promotionDetails}" th:value="${promotion.id}" th:text="${promotion.discount} + '%, ' + ${promotion.gift}"></option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Thêm khuyến mãi</button>
        </form>
        <hr>
        <h2>Danh sách khuyến mãi</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Giảm giá</th>
                    <th>Quà tặng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="promotion : ${productPromotionDetail}">
                    <td th:text="${promotion.id}"></td>
                    <td th:text="${promotion.discount}"></td>
                    <td th:text="${promotion.gift}"></td>
                    <td th:text="${promotion.startingDate}"></td>
                    <td th:text="${promotion.endingDate}"></td>
                    <td>
                        <a onclick="return confirm('Are you sure you want to delete this promotion?')"
                           th:href="@{/admin/product/__${productId}__/remove/promotion/__${promotion.id}__}"
                           class="btn btn-sm btn-outline-secondary">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<th:block th:replace="dashboard/fragments/head.html :: js"></th:block>
</body>
</html>
