<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="dashboard/fragments/head.html :: head(title='List promotion')">
</head>

<body>
<nav th:replace="dashboard/fragments/nav-bar.html :: nav-bar(page = 'promotion')"></nav>
<div class="container-fluid">
    <nav
            th:replace="dashboard/fragments/side-bar.html :: side-bar(current = 'promotion')"
    ></nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <br>
        <a href="/admin/promotion/create" class="btn btn-sm btn-outline-secondary">Tạo mới khuyến mãi</a>
        <hr>
        <h2>Danh sách khuyến mãi</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#Id</th>
                    <th>Giảm giá</th>
                    <th>Quà tặng</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="promotion : ${promotionDetails}">
                    <td th:text="${promotion.id}"></td>
                    <td th:text="${promotion.discount}"></td>
                    <td th:text="${promotion.gift}"></td>
                    <td th:text="${promotion.startingDate}"></td>
                    <td th:text="${promotion.endingDate}"></td>
                    <td>
                        <a onclick="return confirm('Are you sure you want to delete this promotion?')"
                           th:href="@{/admin/promotion/delete/__${promotion.id}__}"
                           class="btn btn-sm btn-outline-secondary">Delete</a>
                        <a th:href="@{/admin/promotion/edit/__${promotion.id}__}" class="btn btn-sm btn-outline-secondary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<th:block th:replace="dashboard/fragments/head.html :: js"></th:block>
</body>
</html>
